<div class="container" ng-app="Baseball" ng-controller="HomeController">


    <!-- Heading Row -->
    <div  class="row my-4">
        <div class="col-lg">
            <img src="/static/lahman/columbia.jpg" width="75%"><br>
            <h1>E1102 - Art of Engineering, Fall 2018</h1>
            <h2>Let's Play <a href="https://en.wikipedia.org/wiki/Moneyball_(film)">Moneyball!</a></h2>
            <H3>The implementation consists of:</H3>
            <ul>
                <li><a href="https://getbootstrap.com/">Boostrap</a></li>
                <li>A modification to a prebuilt Bootstrap <a href="https://startbootstrap.com/template-overviews/small-business/">theme/template.</a></li>
                <li>A custom written <a href="https://angularjs.org/">AngularJS</a> controller.</li>
                <li><strong>Some of the worst Python code and AngularJS code ever written.</strong></li>
            </ul>
            <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=f8e3JVFRIEk">Call to Action!</a>
            <a class="btn btn-primary btn-lg" href="/static/lahman/index.html#!/search">Search</a>
        </div>
    </div>
    <!-- Modal -->
</div>
<!-- /.container -->